<table class= "table table-hover">
	<thead>
		<TR>
			<TH>Nome</TH>
			<th>Descrição</th>
			<th>Preço</th>
		</TR>
	</thead>
	<tbody>
		<%= render partial: "search" %>
	</tbody>
</table>

<div class="float-right">
	<a href="<%=root_url%>" >
		<button type="button" class="btn btn-outline-primary" >Retornar</button>
	</a>
</div>